.TodoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    margin-top: 24px;
    background-color: #3df17b;
    border-radius: 20px;
    width: 600px;
    box-shadow: 1px 0 8px #000000;
}

.TodoItem:hover {
    background: #562155;
    box-shadow: 0 0 20px #562155;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 30px;
    line-height: 24px;
    font-weight: 400px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #333;
    font-family: 'Montserrat Alternates', sans-serif;
}

.TodoItem-p--Complete {
    text-decoration: line-through #e7edf5;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.Icon-check {
    position: absolute;
    top: 27px;
    left: -0px;
    background: #ffd41f;
    border-radius: 0 20px 0 20px;
    color: #f9f9f1;
    width: 50px;
    height: 45px;
    font-size: xx-large;
}

.IconSvgCheck {
    font-size: 35px;
}

.IconSvgDelete {
    font-size: 35px;
}

.IconSvgDelete:hover {
    filter: drop-shadow(2px 1px 2px black);
}

.Icon-check:hover {
    text-shadow: 1px 2px 2px #562155;
    box-shadow: 3px 5px 10px black;
}

.Icon-check--active .IconSvgCheck {
    color: #c96dc5;
    filter: drop-shadow(2px 0 1px black);
}

.IconSvgCheck:hover {
    color: #c96dc5;
    filter: drop-shadow(2px 0 1px black);
}

.Icon-delete {
    color: #f9f9f1;
    position: absolute;
    top: -0px;
    right: 0;
    background: #77477e;
    border-radius: 0 20px;
}

.Icon-delete:hover {
    color: #f9f9f1;
    box-shadow: 3px 5px 10px black;
}