.TodoInput {
    background: white;
    color: #44749d;
    border-radius: 12px;
    height: 80px;
    width: calc(100% - 200px);
    font-size: 35px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* box-shadow: 0 1px 15px #333; */
    border: none;
    margin-bottom: 40px;
    margin-top: 60px;
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
    /* text-shadow: 1px 0px 1px #333; */

}

.TodoInput::placeholder {
    color: #baafc4;
    font-size: xx-large;
    margin-top: 300px;
}

.TodoInput:hover::placeholder {
    color: white;
}
