.BrowserRouter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 30px;
    font-size: xx-large;
    text-shadow: 1px 2px 4px black;
    border-radius: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    background-image: url(./congratulations-PhotoRoom.png-PhotoRoom.png);
    background-repeat: repeat-x;
    backdrop-filter: blur(8px);
    /* position: fixed; */
    position: absolute;
}

.BrowserRouter2 {
    padding-top: 40px;
    margin-bottom: 0px;
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes anim {
    0% {background-color: #ff0;} /*Amarillo*/
    25% {background-color: #f80;} /*Naranja*/
    50% {background-color: #000;} /*Negro*/
    75% {background-color: #f80;} /*Otra vez naranja*/
   100% {background-color: #ff0;}
}

